<div style="width: 500px;">
    <form #form="ngForm" [formGroup]="registrationform" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="emailAddress">Email address</label>
          <input 
          formControlName="emailAddress" 
          name="emailAddress" 
          type="text" 
          [(ngModel)]="login.emailAddress" 
          class="form-control ng-valid" 
          id="emailAddress" 
          aria-describedby="emailHelp" 
          placeholder="Enter email"
          required>
          <div *ngIf="registrationform.controls['emailAddress'].invalid
                && (registrationform.controls['emailAddress'].dirty 
                || registrationform.controls['emailAddress'].touched)">
            <div *ngIf="emailAddress?.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="emailAddress?.errors?.['pattern']">
              Please enter a valid email address.
            </div>
        </div>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input 
          type="password" 
          name="password" 
          [(ngModel)]="login.password" 
          class="form-control ng-valid" 
          id="password" 
          placeholder="Password"
          required>
          <div *ngIf="registrationform.controls['password'].invalid 
          && (registrationform.controls['password'].dirty 
          || registrationform.controls['password'].touched)">
            <div *ngIf="password?.errors?.['required']">
              This field is required.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>