<div class="wrapper">
  <div class="inner">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <h3 style="margin-bottom: 10px;">Log In</h3>
        <p *ngIf="text == ''">&nbsp;</p>
        <p *ngIf="text != ''" style="color: red;">{{text}}</p>
      <div class="form-group">
        <div class="form-wrapper">
          <label for="emailAddress">Email address</label>
            <input 
            formControlName="emailAddress" 
            name="emailAddress" 
            type="text" 
            class="form-control ng-valid" 
            id="emailAddress" 
            aria-describedby="emailHelp" 
            placeholder="Enter email"
            required>
            <!-- <div *ngIf="loginform.controls['emailAddress'].invalid
                  && (loginform.controls['emailAddress'].dirty 
                  || loginform.controls['emailAddress'].touched)"> -->
              <div *ngIf="emailAddress?.errors?.['required'] && emailAddress?.touched || isChecker; else elseblock">
                <span *ngIf="!(emailAddress?.touched) && !(emailAddress?.dirty) && isChecker" style="color: red; font-size: 12px;">Email Address is required.</span>
                <span *ngIf="emailAddress?.errors?.['required'] && (emailAddress?.touched) && (emailAddress?.dirty)" style="color: red; font-size: 12px;">Email Address is required.</span>
                <span *ngIf="isChecker">&nbsp;</span>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
              <!-- <div *ngIf="emailAddress?.errors?.['pattern']">
                Please enter a valid email address.
              </div> -->
            <!-- </div> -->
            <small id="emailHelp" class="form-text" style="color: black;">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-wrapper">
          <label for="password">Password</label>
            <input 
            type="password" 
            name="password" 
            class="form-control ng-valid" 
            id="password" 
            formControlName="password"
            placeholder="Password"
            required>
            <!-- <div *ngIf="loginform.controls['password'].invalid 
            && (loginform.controls['password'].dirty 
            || loginform.controls['password'].touched)"> -->
              <div *ngIf="password?.errors?.['required'] && password?.touched || isChecker; else elseblock">
                <span *ngIf="!(password?.touched) && !(password?.dirty) && isChecker" style="color: red; font-size: 12px;">Password is required.</span>
                <span *ngIf="password?.errors?.['required'] && (password?.touched) && (password?.dirty)" style="color: red; font-size: 12px;">Password is required.</span>
                <span *ngIf="isChecker">&nbsp;</span>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
            <!-- </div> -->
        </div>
      </div>
      <button type="submit">Login</button>
      <div class="signup">
        <p>No Account? <a routerLink="/registration">Register</a></p>
      </div>
    </form>
  </div>
</div>