<div class="container-sm">
    <div id="settingsBody">
        <h3>Account Information </h3>
        <p id="settingsBodyLink">
            <span> <a [routerLink]="['/settings/changeEmail']">Edit Account Email &nbsp; | </a> &nbsp; </span> 
            <span> <a [routerLink]="['/settings/changePassword']">Edit Account Password</a> </span>
        </p>
    </div>
    <div id="settingsBody">
        <h3>Personal Information</h3>
        <span id="settingsBodyLink"> <a [routerLink]="['/settings/profile']">Edit Personal Information</a> </span>
    </div>
</div>
