@font-face {
	font-family: "Muli-Regular";
	src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
	font-family: "Muli-SemiBold";
	src: url('../fonts/muli/Muli-SemiBold.ttf');
}
@font-face {
	font-family: "Muli-Bold";
	src: url('../fonts/muli/Muli-Bold.ttf');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: "Muli-Regular";
	color: #666;
	font-size: 13px;
	margin: 0;
}
input, textarea{
	font-family: "Muli-Regular";
	color: #333;
	font-size: 13px;
	background-color: #e9ecef;
}
p, h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
}
.wrapper {
	min-height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}
.inner {
	min-width: 850px;
	margin: auto;
    margin-top: 5%;
	padding-bottom: 18px;
  	background-size:contain;
  	background-repeat: no-repeat;
	h3 {
		text-transform: uppercase;
		font-size: 22px;
		font-family: "Muli-Bold";
		text-align: center;
		margin-bottom: 22px;
		color: #333;
	    letter-spacing: 2px;
	}
}
form {
	padding-left: 45px;
}
.form-group {
	display: flex;
	.form-wrapper {
		width: 50%;
		&:first-child {
			margin-right: 20px;
		}
	}
}
.form-wrapper {
	margin-bottom: 17px;
	label {
		margin-bottom: 9px;
		display: block;
	}
}
.form-control {
	border: 1px solid #ccc;
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	font-family: "Muli-Bold";
}


@media (max-width: 1199px) { 
	
}
@media (max-width: 991px) {
	.inner {
		min-width: 768px;
	}
}
@media (max-width: 767px) {
	.inner {
		min-width: auto;
		background:none;
		padding-top: 0;
		padding-bottom: 0;
	}
	form {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;		
	}
}

#settingsBody{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
	border-bottom: 2px solid black;
    padding-bottom: 2px;
}

#editProfileButtons{
	display: flex;
	justify-content: right;

	#updateButton{
		margin: 15px 10px 0 0;
	}

	#cancelButton{
		margin-top: 15px;
	}
}

#fileUpload{
	padding-top: 10px;
}

#uploadProfile{
	margin-top: 10px;
	border-radius: 5px;
	float: right;
}
