<div class="container-sm">
    <div id="settingsBody">
        <h2>Change Account Password</h2>
    </div>
</div>

<div class="wrapper">
    <div class="inner">
        <form [formGroup]="updatePasswordForm" (submit)="updateUserEmail()">
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="oldEmailAddress">Enter Current Password</label>
                    <input type="password" name="oldPassword" class="form-control ng-valid"
                        formControlName="oldPassword" [(ngModel)]="updatePasswordData.oldPassword" required>
                    <div *ngIf="updatePasswordForm.controls['oldPassword'].invalid 
                    && (updatePasswordForm.controls['oldPassword'].dirty 
                    || updatePasswordForm.controls['oldPassword'].touched)">
                        <div *ngIf="updatePasswordForm?.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="EmailAddress">Enter New Password</label>
                    <input type="password" name="newPassword" class="form-control ng-valid"
                        formControlName="newPassword" [(ngModel)]="updatePasswordData.newPassword" required>
                    <div *ngIf="updatePasswordForm.controls['newPassword'].invalid 
                    && (updatePasswordForm.controls['newPassword'].dirty 
                    || updatePasswordForm.controls['newPassword'].touched)">
                        <div *ngIf="updatePasswordForm?.errors?.['required']">
                            This field is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="EmailAddress">Confirm New Email Address</label>
                    <input type="password" name="confirmNewPassword" class="form-control ng-valid"
                        formControlName="confirmNewPassword" [(ngModel)]="updatePasswordData.confirmNewPassword"
                        required>
                    <div *ngIf="updatePasswordForm.controls['confirmNewPassword'].invalid">
                        <div *ngIf="updatePasswordData.newPassword != updatePasswordData.confirmNewPassword">
                            New passwords do not match.
                        </div>
                    </div>
                </div>
            </div>
            <div id="editProfileButtons">
                <button type="submit" class="btn btn-primary" id="updateButton">Change Email Address</button>
                <button id="cancelButton" (click)="cancel()" class="btn btn-danger">Cancel</button>
            </div>
        </form>
    </div>
</div>