<div class="container">
  <div class="row mt-10">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <div class="row"><h3>Good day,</h3></div>
          <div class="row mb-4"><h4>{{user.firstName}} {{user.lastName}}</h4></div>
          <div class="row mb-2">  
            <div class="col-md-12">
              <button type="button" class="text-start btn btn-secondary btn-sm col-12">Create New Post</button>
            </div>          
          </div>
          <div class="row">  
            <div class="col-md-12">
              <button type="button" class="text-start btn btn-secondary btn-sm col-12">Create New Album</button>
            </div>          
          </div>
        </div>
        <div class="col-md-6" *ngIf="userDetail">
          <img [src]="'https://localhost:44368/images/' + userDetail?.profilePicture" [alt]="userDetail?.profilePicture">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Newsfeed</h2>
      <hr>
      <app-newsfeed></app-newsfeed>
    </div>
    <div class="col-md-3">
  </div>
</div>
