#badge {
    position: relative;
    top: -18px;
    right: 8px;
    padding: 5px;
    border-radius: 50%;
    background: red;
    color: white;
    margin-right: 0;
    font-size:1px;
}

#notification {
    padding: 5px;
}

#notification {
    width: 25px;
}