<div>
    <h4>{{users.firstName}} {{users.lastName}} </h4>
</div>

<h2>Timeline</h2>
<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <label for="Post">Post</label>
        <input
        type="textfield"
        class="form-control"
        id="title"
        required
        [(ngModel)]="post.PostContent"
        name="Description"
        />
        <button (click)="addPost()" class="btn btn-success">Post</button>
    </div>
</div>

<div>
    <div *ngFor="let post of posts">
        <div routerLink="/post/{{post.PostId}}">
            <p>{{post.PostContent}}</p>
            <p>{{post.PostDate | date:'medium'}}</p>
        </div> 
    </div>
</div>

<div>
    <a routerLink="/view-albums">My Albums</a>
    <div *ngFor="let album of albums">
        <div>
            <a routerLink="/view-albums/{{album.albumId}}">{{album.albumName}}</a>
        </div> 
    </div>
</div>

