<div class="container">
    <div *ngIf="album">
        <div *ngIf="!isEdit">
            <div id="albumHeader">
                <div id="albumNameAndEditButton" >
                    <h2>{{album.albumName}}</h2>
                    <button *ngIf="user.userId == users[0]?.userId" (click)="updateAlbum()" id="editButton">
                        <i class="fas fa-edit fa-2x"></i>
                    </button>
                </div>
                <p> &nbsp; {{album.albumDescription}}</p>
            </div>
            <app-photo></app-photo>
        </div>
        <div *ngIf="checker">
            <div *ngIf="isEdit">
                <div id="albumHeader">
                    <h2>
                        <input id="albumEditName" type="text" [(ngModel)]="album.albumName" value="{{album.albumName}}">
                    </h2>
                    <div>
                        <textarea name="albumDescription" id="albumDescription" cols="145" rows="4" autofocus [(ngModel)]="album.albumDescription"></textarea>
                    </div>
                </div>
                <div id="editAlbumButtons">
                    <button (click)="saveAlbum()" id="saveButton" class="btn btn-primary" [disabled]="!album.albumDescription || !album.albumName">Save</button>
                    <button (click)="cancel()" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>