<div class="wrapper">
  <div class="inner">
    <form [formGroup]="registrationform" (submit)="checker()">
      <h3 style="margin-bottom: 5px;">Registration Form</h3>
      <p *ngIf="text == ''">&nbsp;</p>
      <p *ngIf="text != ''" style="color: red;">{{text}}</p>

      <!-- EMAIL -->
      <div class="form-wrapper">
        <label for="EmailAddress">Email Address<span>*</span></label>
        <input
          type="email"
          name="EmailAddress"
          class="form-control ng-valid"
          formControlName="EmailAddress"
          required
        >
            <div *ngIf="EmailAddress?.touched && !(EmailAddress?.dirty) || isChecker; else elseblock">
              <div *ngIf="EmailAddress?.errors?.['required'] && EmailAddress?.touched || isChecker">
                <span *ngIf="!(EmailAddress?.touched) && !(EmailAddress?.dirty) && isChecker" style="font-size: 12px;">Email Address is required.</span>
                <span *ngIf="EmailAddress?.errors?.['required'] && (EmailAddress?.touched) && (EmailAddress?.dirty)" style="font-size: 12px;">Email Address is required.</span>
                <span *ngIf="EmailAddress?.errors?.['pattern'] && (EmailAddress?.touched) && (EmailAddress?.dirty)" style="font-size: 12px;">Please enter a valid email address.</span>
                <span *ngIf="isChecker && (EmailAddress?.touched)">&nbsp;</span>
              </div>
            </div>
            <ng-template #elseblock>
              <div *ngIf="true">&nbsp;</div>
            </ng-template>
      </div>

      <!-- FIRSTNAME LASTNAME -->
      <div class="form-group">
        <div class="form-wrapper">
          <label for="FirstName">First Name<span>*</span></label>
          <input
            type="text"
            name="FirstName"
            class="form-control ng-valid"
            minlength="4"
            formControlName="FirstName"
            required
          >
              <div *ngIf="FirstName?.touched && !(FirstName?.dirty) || isChecker; else elseblock">
                <div *ngIf="FirstName?.errors?.['required'] && FirstName?.touched || isChecker">
                <span *ngIf="!(FirstName?.touched) && !(FirstName?.dirty) && isChecker" style="font-size: 12px;">First name is required.</span>
                <span *ngIf="FirstName?.errors?.['required'] && (FirstName?.touched) && (FirstName?.dirty)" style="font-size: 12px;">First name is required.</span>
                <span *ngIf="FirstName?.errors?.['pattern'] && (FirstName?.touched) && (FirstName?.dirty)" style="font-size: 12px;">Please enter a valid first name</span>
                <span *ngIf="isChecker">&nbsp;</span>
                </div>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
              
        </div>
        <div class="form-wrapper">
          <label for="LastName">Last Name<span>*</span></label>
          <input
            type="text"
            name="LastName"
            class="form-control ng-valid"
            formControlName="LastName"
            required
          >
               <div *ngIf="LastName?.touched && !(LastName?.dirty) || isChecker; else elseblock">
                  <div *ngIf="LastName?.errors?.['required'] && LastName?.touched || isChecker">
                    <span *ngIf="!(LastName?.touched) && !(LastName?.dirty) && isChecker" style="font-size: 12px;">Last name is required.</span>
                    <span *ngIf="LastName?.errors?.['required'] && (LastName?.touched) && (LastName?.dirty)" style="font-size: 12px;">Last name is required.</span>
                    <span *ngIf="LastName?.errors?.['pattern'] && (LastName?.touched) && (LastName?.dirty)" style="font-size: 12px;">Please enter a valid last name</span>
                    <span *ngIf="isChecker">&nbsp;</span>
                  </div>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
              
        </div>
      </div>

        <!-- PASSWORD CONFIRMPASSWORD -->
        <div class="form-group">
          <div class="form-wrapper">
            <label for="Password">Password<span>*</span></label>
            <input
              type="password"
              name="Password"
              class="form-control ng-valid"
              formControlName="Password"
              required
            >
                <div *ngIf="Password?.touched && !(Password?.dirty) || isChecker; else elseblock">
                  <div *ngIf="Password?.errors?.['required'] && Password?.touched || isChecker">
                    <span *ngIf="!(Password?.touched) && !(Password?.dirty) && isChecker" style="font-size: 12px;">Password is required.</span>
                    <span *ngIf="Password?.errors?.['required'] && (Password?.touched) && (Password?.dirty)" style="font-size: 12px;">Password is required.</span>
                    <span *ngIf="isChecker">&nbsp;</span>
                  </div>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
            <!-- </div> -->
          </div>
          <div class="form-wrapper">
            <label for="ConfirmPassword">ConfirmPassword<span>*</span></label>
            <input
              type="password"
              name="ConfirmPassword"
              class="form-control ng-valid"
              formControlName="ConfirmPassword"
              required
            >
                <div *ngIf="Password?.value != ConfirmPassword?.value && ConfirmPassword?.touched || isChecker">
                  <span *ngIf="Password?.value != ConfirmPassword?.value || !(Password?.touched) && !(Password?.dirty) && isChecker" style="font-size: 12px;">Password do not match.</span>
                </div>
          </div>
        </div>

        <!-- BIRTHDATE GENDER -->
        <div class="form-group">
          <div class="form-wrapper">
            <label for="Birthdate">Birthdate<span>*</span></label>
            <input
              type="date"
              name="Birthdate"
              class="form-control  ng-valid"
              formControlName="Birthdate"
              required
            >
                <div *ngIf="Birthdate?.errors?.['required'] && Birthdate?.touched || isChecker; else elseblock">
                  <span *ngIf="!(Birthdate?.touched) && !(Birthdate?.dirty) && isChecker" style="font-size: 12px;">Birthdate is required.</span>
                  <span *ngIf="Birthdate?.errors?.['required'] && (Birthdate?.touched) && (Birthdate?.dirty)" style="font-size: 12px;">Birthdate is required.</span>
                  <span *ngIf="isChecker">&nbsp;</span>
                </div>
                <ng-template #elseblock>
                  <div *ngIf="true">&nbsp;</div>
                </ng-template>
          </div>
          <div class="form-wrapper">
            <label for="Gender">Gender<span>*</span></label>
            <select
              class="form-control select"
              type="text"
              name="Gender"
              formControlName="Gender"
            >
                <option value="">Choose Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Others">Others</option>
          </select>
          <div *ngIf="Gender?.errors?.['required'] && Gender?.touched || isChecker; else elseblock">
            <span *ngIf="!(Gender?.touched) && !(Gender?.dirty) && isChecker" style="font-size: 12px;">Gender is required.</span>
            <span *ngIf="Gender?.errors?.['required'] && (Gender?.touched) && (Gender?.dirty)" style="font-size: 12px;">Gender is required.</span>
            <span *ngIf="isChecker">&nbsp;</span>
          </div>
          <ng-template #elseblock>
            <div *ngIf="true">&nbsp;</div>
          </ng-template>
          </div>
        </div>

        <!-- PHONENUMBER -->
        <div class="form-wrapper">
          <label for="MobileNumber">Mobile Number</label>
          <input
            class="form-control "
            type="text"
            name="MobileNumber"
            formControlName="MobileNumber"
          >
              <div *ngIf="MobileNumber?.errors?.['pattern']; else elseblock">
                <span style="font-size: 12px;">Enter a valid mobile number.</span>
              </div>
              <ng-template #elseblock>
                <div *ngIf="true">&nbsp;</div>
              </ng-template>
        </div>
        <button type="submit">Register Now</button>
        <p style="color: white;">Back to <a routerLink="/login" style="color: white;">Login</a> </p>
    </form>
  </div>
</div>

