<div class="container">
        <div *ngIf="mapUserToPosts$ | async as PostDetail">
            <div>
                <div id="postBody">
                    <h5><img [src]="'https://localhost:44368/images/'+PostDetail.post?.userId?.profilePicture" alt=""> {{PostDetail.post?.userId?.firstName}} {{PostDetail.post?.userId?.lastName}}</h5>
                    <p> &nbsp; {{PostDetail.post?.postContent}}</p>
                    <p id="postDate"><em>Posted last {{PostDetail.post?.postDate | date}}</em></p>
                    <div id="likeAndCommentRow">
                        <div id="like">
                            <p id="likeCount">{{likeCount}}</p>
                            <div *ngIf="isLiked">
                                <button id="heartButton" class="btn btn-default" type="submit"
                                    (click)="unLikePost(PostDetail.post?.postId!)">
                                    <i [ngClass]="{'fa-solid fa-heart' : isLiked === true}"></i>
                                </button>
                            </div>
                            <div *ngIf="!isLiked">
                                <button id="heartButton" class="btn btn-default" type="submit"
                                    (click)="likePost(PostDetail.post?.postId!, PostDetail.post?.userId?.userId!)">
                                    <i [ngClass]="{'fa fa-heart-o' : isLiked === false}"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <p>{{commentCount}} Comments</p>
                        </div>                    
                    </div>
                </div>
            </div>        

            <div>
                <div id="commentTextboxRow">
                    <textarea rows="2" cols="80" name="comment" type="text" [(ngModel)]="comment" id="commentTextbox"
                        placeholder="Enter Comment"
                        (keyup.enter)="AddComment(PostDetail.post?.postId!, PostDetail.post?.userId?.userId!)">
                        </textarea>
                    <button class="btn btn-default" type="submit" (click)="ShowComments()">
                        <i class="fa-solid fa-sort-down"></i>
                    </button>
                    <!-- <ng-template #elseBlock>
                            <button class="btn btn-default" type="submit" (click)="ShowComments()">
                                <i class="fa-solid fa-caret-down"></i>
                            </button>
                        </ng-template>       -->
                </div>
                <div *ngIf="showComments">
                    <div *ngFor="let comment of PostDetail.comments" id="commentBody">
                        <span id="commentHeader">
                            <h6><img [src]="'https://localhost:44368/images/'+comment.userId.profilePicture" alt="" id="comment-picture"> {{comment.userId?.firstName}}  {{comment.userId?.lastName}}</h6>
                            <p id="commentDate"><em>Comment Date: {{comment.commentDate}}</em></p>
                        </span>
                        <p>
                            <span> &nbsp; &nbsp; <em>{{comment.commentContent}}</em></span>
                        </p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
</div>