@font-face {
	font-family: "Muli-Regular";
	src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
	font-family: "Muli-SemiBold";
	src: url('../fonts/muli/Muli-SemiBold.ttf');
}
@font-face {
	font-family: "Muli-Bold";
	src: url('../fonts/muli/Muli-Bold.ttf');
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  img {
    height: 60px;
    width: 60px;
    border: 5px solid #000;
    border-radius: 50%;
  }

#comment-picture{
    height: 40px;
    width: 40px;
}
  
body {
	font-family: "Muli-Regular";
}

#likeAndCommentRow{
   display: flex;
   justify-content: space-between;
}

#like{
    display: flex;
}

#likeCount{
    margin: 0 0 0 5px;
    font-size: 18.5px;
}

#heartButton{
    padding: 0 0 0 2px;
}

#postBody{
    border-bottom: 2px solid black;
}

.container{
    padding-top: 30px;
    width: 60%;
}

#commentTextboxRow{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
}

#postDate{
    font-size: 13px;
    display: flex;
    justify-content: right;
    margin: 0;
}

#commentBody{
    border-bottom: 1px solid black;
    padding: 8px 8px 0 8px;
}

#commentHeader{
    display: flex;
    justify-content: space-between;
}

#commentDate{
    font-size: 13px;
}