<div class="container-sm">
  <div *ngIf="user.userId == users.userId; else elseblock">
    <h3  id="title">My Albums</h3>
  </div>
  <ng-template #elseblock>
    <h3 *ngIf="user.userId != users.userId" id="title">{{users.firstName}}'s Albums</h3>
  </ng-template>

  <p *ngIf="user.userId == users.userId">
    <span> <a id="albumCrudLink" [routerLink]="['/add-album']">Create New Album &nbsp; | &nbsp;</a> </span>
    <span id="albumCrudLink"> Edit Album List</span>
  </p>
  <div id="albumBody">
    <!-- <button *ngIf="user.userId == users.userId" (click)="deleteAlbum(album.album.albumId!)" id="clear">Delete</button> -->
    <div *ngFor="let album of albums$ | async" id="albumList">
      <a href="{{users.firstName! + users.lastName! + users.userId}}/albums/{{album.album.albumId}}">       
        <ul id="albumName">
          <li>       
            <i class="fa fa-picture-o fa-5x">            
              <span id="a">
                {{album.album.albumName}} 
              </span>
            </i>          
          </li>        
        </ul>
      </a>
    </div>
  </div>
</div>