<div class="container-sm">
  <h3 id="title">My Albums</h3>
  <p>
    <span> <a id="albumCrudLink" [routerLink]="['/add-album']">Create New Album &nbsp; | &nbsp;</a> </span>
    <span id="albumCrudLink"> Edit Album List</span>
  </p>
  <div id="albumBody">
    <!-- <button *ngIf="checker" (click)="deleteAlbum(album.album.albumId!)" id="clear">Delete</button> -->
    <div *ngFor="let album of albums$ | async" id="albumList">
      <a href="{{users.firstName! + users.lastName! + users.userId}}/albums/{{album.album.albumId}}">       
        <ul id="albumName">
          <li>       
            <i class="fa fa-picture-o fa-5x">            
              <span id="a">
                {{album.album.albumName}} 
              </span>
            </i>          
          </li>        
        </ul>
      </a>
    </div>
  </div>
</div>