#title{
    padding-top: 30px;
}

#albumCrudLink{
    text-decoration: none;
    color: rgb(143, 141, 141);
    font-weight: bold;
    &:hover{
        font-weight: bold;
        color: black;
    }
}

#albumBody{
    border-top: 2px solid black;
    padding-top: 30px;    
}

#albumName{
    list-style: none;
    text-decoration: none;
    color: black;
    &:hover{
        color:rgb(70, 69, 69);
    }
}

p{
    margin: 10px 0 5px 10px;
}

#albumList{
    display: inline-block; 
    padding-left: 40px;
    width: 223px;
}

#a{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

#clear{
    margin-left: 90px;
    border: none;
    padding: 0 8px 0 8px;
    border-radius: 400px;
    &:hover{
        background-color: rgb(253, 66, 66);
    }
}

#plusIcon{
    padding: 3px 5px 3px 3px;
    background-color: rgb(189, 186, 186);
    border-radius: 2px;
}


/* Set a style for all buttons */
.cancelbtn, .deletebtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  &:hover{
    opacity:1;
  }
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #646c7e;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}