#title{
    padding-top: 20px;
}


#addAlbumBody{
    padding-top: 30px;
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input{
        border-radius: 15px;
    }
}

#albumDescriptionTextbox{
    height: 60px;
    width: 400px;
}

#createNewAlbum{
    font-weight: bold;
}

#albumNameAndDescriptionBody{
    padding-left: 40px;
}
