<div class="container">
  <!-- <a [routerLink]="['/',user.userName,'/albums']"><h2 id="title">My Albums</h2></a> -->
  <a href="{{user.userName}}/albums"><h2 id="title">My Albums</h2></a>
  <p>
    <span id="createNewAlbum">Create New Album
      <i id="plusIcon" class="fa fa-plus fa-sm" aria-hidden="true"></i>
    </span>
  </p>
  <div id="addAlbumBody">
    <i id="createAlbumThumbnail" class="fas fa-images fa-10x"></i>
    <div id="albumNameAndDescriptionBody">
      <div class="form-group">
        <label for="title" id="albumText">Album Name</label>
        <input type="text" class="form-control" id="albumNameTextbox" required [(ngModel)]="album.AlbumName"
          name="albumName" />
      </div>
      <div>
        <label for="Description" id="albumText">Album Description</label>
        <textarea class="form-control" name="AlbumDescription" id="albumDescriptionTextbox"
          [(ngModel)]="album.AlbumDescription"></textarea>
        <br>
        <div id="addAlbumButtons">
          <button (click)="addAlbum()" class="btn btn-primary" id="saveButton" [disabled]="!album.AlbumName || !album.AlbumDescription">Save</button>
          <button (click)="cancel()" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>