#addAlbumBody{
    padding: 20px;
    border-top: 2px solid black;

    input{
        border-radius: 15px;
    }
}

#albumDescriptionTextbox{
    height: 60px;
}

#createNewAlbum{
    font-weight: bold;
}
