#title{
    padding-top: 30px;
}


#addAlbumBody{
    padding-top: 30px;
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input{
        border-radius: 10px;
    }
}

#albumDescriptionTextbox{
    height: 60px;
    width: 400px;
}

#createNewAlbum{
    font-weight: bold;
}

#albumNameAndDescriptionBody{
    padding-left: 40px;
}

#createAlbumThumbnail{
    padding-top: 30px;
}

#albumText{
    padding: 20px 0 5px 10px;
    font-weight: bold;
}

#addAlbumButtons{
    display: flex;
    justify-content: right;
    padding: 10px;
}

#saveButton{
    margin-right: 5px;
    width: 73px;
}

p{
    margin: 10px 0 5px 10px;
}

#plusIcon{
    padding: 3px 5px 3px 3px;
    background-color: rgb(189, 186, 186);
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: black;
	font-family: "Muli-Regular";

    :visited {
        color: black;
    }
}