#myAlbumHeader{
    text-decoration: none;
    color: black;
}

#albumList{
    margin-left: 10px;
}

#albumName{
    font-size: 13px;
    border-top: 0;
    margin-bottom: 10px;
}

span{
    margin: 0;
}

