<div class="container">
    <div class="row">
      <div class="col" *ngIf="filterFriend">
            {{filterFriend | async | json}}
            <br>
            <div *ngIf="filterFriend | async as friends">
                <div *ngIf="friends.length === 0 && user.userId != users.userId; else elseblock">
                    <button type="submit" (click)="addUserFriend()">Add Friend</button>
                </div>
                <ng-template #elseblock>
                    <div *ngIf="friends[0]?.requesterId != user.userId && !(friends[0]?.status) && user.userId != users.userId">
                        <button (click)="acceptFriendRequest(friends[0].userFriendId, friends[0]?.friendId, friends[0]?.userId)">Accept Friend Request</button> 
                    </div>
                    <div *ngIf="friends[0]?.requesterId == user.userId">
                        <button (click)="cancel(users.userId, user.userId)">Cancel Request</button> 
                    </div>
                    <div *ngIf="friends[0]?.status">
                        <button (click)="unfriend(users.userId, user.userId)">Unfriend</button>
                    </div>
                </ng-template>
            </div>
      </div>
        <!-- <app-profile-blurb></app-profile-blurb><br><br>
        <app-profile-album></app-profile-album><br><br>
        <app-profile-friend></app-profile-friend><br><br>
        <app-profile-post></app-profile-post><br><br> -->

        <!-- <app-post-display></app-post-display> -->
      </div>
      <div class="col">    
    <!-- <app-photo></app-photo> -->
      </div>
    </div>









