<!-- <div *ngIf="!error; else elseBlock" > -->
    <div class="container">
        <div class="row">
          <div class="col">
            <app-profile-display></app-profile-display>
          </div>
          <div class="col-6">
            <h2>Timeline</h2>
            <app-post-display></app-post-display>
    <div style="width: 400px; margin: auto;">
        <div class="submit-form">
            <label for="Post">Post</label>
            <input
            type="textfield"
            class="form-control"
            id="title"
            required
            [(ngModel)]="post.PostContent"
            name="Description"
            />
            <button (click)="addPost()" class="btn btn-success">Post</button>
        </div>
    </div>
          </div>
          <div class="col">
            <div>
                <a href="{{users.firstName! + users.lastName! + users.userId}}/albums">My Albums</a>
                <!-- {{albums$|async|json}} -->
                <div *ngFor="let album of albums$ | async">
                    <div>
                        <a href="{{users.firstName! + users.lastName! + users.userId}}/albums/{{album.album.albumId}}">{{album.album.albumName}}</a>
                    </div> 
                </div>
            </div>
        
          </div>
        </div>

    <div *ngIf="!checker">
        <button>Add Friend</button>
    </div>

</div>
<ng-template #elseBlock>
    <span>User Not Found</span>
</ng-template>




