<div class="container">
    <div class="row">
        <div class="col-md-3">
                <img [src]="'https://localhost:44368/Images/' + users[0]?.profilePicture" 
            [alt]="users[0]?.profilePicture">
            <h3 style="text-align: center;">{{users[0]?.firstName | titlecase}} {{users[0]?.lastName | titlecase}}</h3>
            <div class="container">
                <div class="row">
                    <div *ngIf="filterFriend">
                        <!-- {{filterFriend | async | json}} -->
                        <br>
                        <div *ngIf="filterFriend | async as friends">
                            <div *ngIf="friends.length === 0 && user.userId != users[0]?.userId; else elseblock">
                                <button class="btn btn-primary" type="submit" (click)="addUserFriend()">Add Friend</button>
                            </div>
                            <ng-template #elseblock>
                                <div *ngIf="friends[0]?.requesterId != user.userId && !(friends[0]?.status) && user.userId != users[0]?.userId">
                                    <button class="btn btn-primary" (click)="acceptFriendRequest(friends[0].userFriendId, friends[0]?.friendId, friends[0]?.userId)">Accept Friend Request</button> 
                                </div>
                                <div *ngIf="friends[0]?.requesterId == user.userId">
                                    <button class="btn btn-primary" (click)="cancel(users[0]?.userId, user.userId)">Cancel Request</button> 
                                </div>
                                <div *ngIf="friends[0]?.status">
                                    <button class="btn btn-primary" (click)="unfriend(users[0]?.userId, user.userId)">Unfriend</button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <h6>Birthdate</h6>
            <p>{{users[0]?.birthDate | date: 'MMMM d, y'}}</p>
            <h6>Gender</h6>
            <p>{{users[0]?.gender}}</p>
            <h6>Mobile Number</h6>
            <p *ngIf="users[0].mobileNumber != null">---</p>
            <p *ngIf="users[0].mobileNumber != null">{{users[0]?.mobileNumber}}</p>
            <app-profile-blurb></app-profile-blurb>
        </div>
        <div class="col-md-6">
            <h2>Timeline</h2>
            <div *ngIf="filterFriend | async as friends">
                <div *ngIf="user.userId == users[0]?.userId || (friends[0]?.status); else elseblock" >
                    <app-profile-post></app-profile-post>
                </div>
                <ng-template #elseblock div class="col-md-6">
    
                </ng-template>
            </div>
        </div>
            <div class="col-md-3">
                <app-profile-album></app-profile-album><br><br>
            <app-profile-friend></app-profile-friend><br><br>
            </div>
            <!-- <app-profile-post></app-profile-post><br><br> -->
    </div>
</div>
