.form-group {
	display: flex;
    margin: auto;
	.form-wrapper {
		width: 80%;
        margin: auto;
        margin-left: 0px;
		&:first-child {
			margin-right: 20px;
		}
	}
}

.btn {
	font-weight: 350;
    line-height: 1.2;
	margin-bottom: 20px;
}
img {
    height: 100px;
    width: 100px;
    padding: 0px;
    // border: 2px solid #000;
    border-radius: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	margin-bottom: 10px;
  }

