<!-- {{userFriends$ | async | json}} -->
<div id="listOfFriendsBody">
    <h6>List of Friends</h6>
    <div *ngIf="userFriends$ | async as friends">
        <table>
            <tr *ngFor="let friend of friends">
                <td>{{friend.friendId.firstName}}</td>
                <td>{{friend.friendId.lastName}}</td>
                <a class="nav-link"
                    href="/users/{{friend.friendId.firstName+friend.friendId.lastName+friend.friendId.userId}}"><i
                        class="fa-solid fa-user"></i></a>
            </tr>
        </table>
    </div>
</div>
