<p>display-album works!</p>
<div>
    <h3>
        <a href="{{users.firstName! + users.lastName! + users.userId}}/albums" id="myAlbumHeader">My Albums</a>
    </h3>

    <div *ngFor="let album of albums$ | async | slice:0:9; let i=index" >
        <div class="row g-3">
            <div>
                <a href="{{users.firstName! + users.lastName! + users.userId}}/albums/{{album.album.albumId}}">
                    <i class="fa fa-picture-o fa-4x"></i>            
                </a>
                {{album.album.albumName}}
            </div>
        </div>
    </div>
</div>